.logo {
  align-items: center;
  width: 150px;
  height: 90px;
  margin-left: 30%;
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
  transform: rotate3d(0, 1, 0, 360deg);
}