.colorPrimary {
  color: #e06b26;
  font-size: 2.5rem;
}

.colorHover {
  color: #e45c0e;
}

.colorSecondary {
  color: #302d2c;
}

.logo {
  align-items: center;
  width: 150px;
  height: 90px;
}

.logo:hover {
  cursor: pointer;
}
