.button {
  background-color: #fff;
  border-radius: 5px;
  color: #333131;
  cursor: pointer;
}

.button:hover {
  color: #dd7b42;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 1060px) {
  .button {
    display: none;
  }
}
