.card {
  display: flex;
  flex-direction: column;
  width: 15%;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(32, 28, 17, 0.26);
  transition: all 0.3s ease-out;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 8px rgba(22, 21, 21, 0.46);
  margin: 5px;
  background-color: #fdf0e4;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.img {
  width: 60%;
  height: 30%;
  object-fit: cover;
}

.name {
  font-size: 1.6rem;
  font-weight: 600;
}

.desc {
  font-size: 1rem;
  color: #5e5855;
}

.links {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 15px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fcf8f5;
  box-shadow: 0 2px 8px rgba(121, 109, 93, 0.26);
  transition: all 0.3s ease-out;
  color: rgb(56, 52, 52);
}

.link:hover {
  box-shadow: 0 2px 8px rgba(54, 53, 53, 0.46);
}

@media screen and (min-width: 700px) and (max-width: 1230px) {
  .card {
    min-width: 25%;
    height: 66%;
  }
}

@media screen and (min-width: 570px) and (max-width: 699px) {
  .card {
    min-width: 25%;
    height: 60%;
  }
}

@media screen and (min-width: 300px) and (max-width: 569px) {
  .card {
    min-width: 65%;
    height: 70%;
  }
}
