.projectSection {
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.head {
  font-size: 3rem;
  font-weight: 540;
  margin-top: 100px;
  text-align: center;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50%;
  margin-top: 5%;
}

@media screen and (min-width: 570px) and (max-width: 1230px) {
  .projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .projectSection {
    height: 100vh;
    gap: 20px;
  }

  .head {
    font-size: 3rem;
    font-weight: 540;
    margin-top: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 300px) and (max-width: 569px) {
  .projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: auto;
    height: 75%;
  }

  .projectSection {
    gap: 20px;
  }
}
