.icons {
  display: flex;
  width: 190px;
  gap: 10px;
  justify-content: space-between;
  margin: 10px auto;
  padding: 10px;
  list-style: none;
}

.icon {
  width: 50px;
  height: 40px;
  color: #dd7b42;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon:hover {
  background-color: #dd7b42;
  color: #fff;
}
