.icons {
  display: flex;
  width: 160px;
  gap: 10px;
  justify-content: space-between;
  margin: 10px auto;
  padding: 10px;
  list-style: none;
}

.icon {
  width: 30px;
  height: 30px;
  color: #dd7b42;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #dd7b42;
}

.icon:hover {
  background-color: #dd7b42;
  color: #fff;
}
